@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

@layer components {
  .timeline-item::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #e5e7eb;
  }

  .timeline-item::after {
    content: '';
    position: absolute;
    left: -24px;
    top: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .timeline-item:last-child::before {
    bottom: 50%;
  }
}
